
/* header.css */

header h3 {
  font-size: 1.6rem;
  font-family: 'Jacques Francois Shadow', cursive;
  color: var(--DarkestColor);
  text-shadow: 2px 2px 2px var(--MediumColor);

  text-align: center; /* Center text horizontally */
}


.Banner {
  overflow-x: hidden;
}
.Banner img {
  height: 99px;
}
.Banner.HomePage img {
  /* Debby want's the Home page (index.html) header bigger than other pages */
  height: 165px;
}



/*  */
