
nav a {
  display: inline-block; /* So we can set "button" width */
  text-decoration: none;
  background-color: var(--NormalColor);
  border-radius: 4px;
  box-shadow: 2px 2px 2px gray;
  color: var(--DarkerColor);

  cursor: pointer;

  min-width: 5rem;
  margin: 0px 10px;
  padding: 2px;

  text-align: center;
  text-shadow: 1px 1px 2px var(--DarkestColor);
}
nav a:hover, nav a:focus {
  opacity: .5;
}
nav a {
  decoration: none;
}
nav a.Selected {
  background-color: var(--NormalColor);
}
